@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:host {
  display: block;
  height: 100vh;
  background: linear-gradient(to bottom, #f7941d, #d71920);
  color: white;
  font-family: 'Poppins', sans-serif;
  transition: width 0.3s ease;
  overflow: hidden;
  width: 260px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.1);
}

:host(.collapsed) {
  width: 80px;
}

/* logo */
.logo {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 5px;
  transition: all 0.3s ease;
}

.logo img {
  width: 100px;
  height: auto;
  transition: all 0.3s ease;
}

:host(.collapsed) .logo span {
  display: none;
}

:host(.collapsed) .logo img {
  width: 70px;
}

/* menú */
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1rem;
  transition: background 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  cursor: pointer;
}

.menu a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(5px);
}

.menu a.active {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  transform: scale(1.02);
}

:host(.collapsed) .menu a span {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  :host {
    width: 200px;
    padding: 24px 14px;
  }

  :host(.collapsed) {
    width: 80px;
  }

  .logo {
    font-size: 1.2rem;
  }

  .menu a {
    font-size: 0.9rem;
    padding: 10px 12px;
  }
}
