<div class="container">
  <div class="contenedor-mapa">
    <aside class="sidebar">
      <h3 class="titulo-sidebar">MIS RUTAS</h3>
      <ul class="lista-puntos">
        <li
          *ngFor="let ruta of rutas"
          (click)="centrarRuta(ruta)"
          (keydown.enter)="centrarRuta(ruta)"
          tabindex="0"
          class="item-punto"
        >
          {{ ruta.nombre }}
        </li>
      </ul>
    </aside>

    <section class="mapa-principal">
      <div id="mapa" class="mapa-gl"></div>
    </section>
  </div>
</div>
