<div class="container">
  <h2>Todas mis Rutas</h2>
  <div class="rutas-grid">
    <div class="tarjeta-ruta" *ngFor="let ruta of rutas">
      <div class="mapa-ruta" [id]="'map-' + ruta.id"></div>
      <div class="contenido">
        <div class="header">
          <h3>{{ ruta.nombre }}</h3>
          <span class="tipo">
            <i [class]="getIconoRuta(ruta.tipoRuta)"></i>
            {{ ruta.tipoRuta | titlecase }}
          </span>
        </div>
        <p><strong>Puntos:</strong> {{ ruta.puntos.length }}</p>
        <p><strong>Creada:</strong> {{ ruta.fechaCreacion.toDate() | date: 'mediumDate' }}</p>
        <p><strong>Distancia:</strong> {{ ruta.distanciaKm }} km</p>
        <p><strong>Duración:</strong> {{ (ruta.duracionMin || 0) | duracion }}</p>
      </div>
      <div class="acciones-tarjeta">
        <button class="btn-detalle" [routerLink]="['/rutas', ruta.id]">
          <i class="fa-solid fa-eye"></i> Ver detalle
        </button>

        <button class="btn-eliminar" (click)="eliminarRuta(ruta.id ?? '')">
          <i class="fa-solid fa-trash"></i> Eliminar
        </button>
      </div>
    </div>
  </div>
</div>

<app-popup-exito
  [mostrar]="mostrarMensaje"
  [mensaje]="mensajeTexto"
  [tipo]="tipoMensaje">
</app-popup-exito>

<app-confirm-dialog
  [visible]="mostrarConfirmacion"
  mensaje="¿Estás seguro de que deseas eliminar esta ruta?"
  (confirmar)="confirmarEliminacionRuta()"
  (cancelar)="cancelarEliminacionRuta()">
</app-confirm-dialog>
