<div class="container mt-4">
  <h2>Puntos de Localización</h2>

  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>

  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>

  <div *ngIf="!loading && !error" class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre del punto</th>
          <th>Descripción del punto</th>
          <th>Latitud</th>
          <th>Longitud</th>
          <th>Fecha de creación</th>
          <th>Usuario creador</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let punto of puntosFiltrados">
          <td>{{ punto.nombre }}</td>
          <td>{{ punto.descripcion }}</td>
          <td>{{ punto.latitud }}</td>
          <td>{{ punto.longitud }}</td>
          <td>{{ formatFecha(punto.fechaCreacion)}}</td>
          <td>{{ punto.usuarioCreador }}</td>
          <td>
            <div class="botones">
              <!-- Ver en mapa -->
              <button type="submit" class="btn btn-primary btn-icon" (click)="abrirEnGoogleMaps(punto.latitud, punto.longitud)">
                <img src="icoMap.ico" alt="Mapa" />
                <span class="btn-text">Ver en mapa</span>
              </button>

              <!-- Editar -->
              <button type="button" class="btn btn-primary btn-icon" [routerLink]="['/puntos', punto.id]">
                <img src="icoEdit.ico" alt="Mapa" />
                <span class="btn-text">Editar</span>
              </button>
            </div>
          </td>
        </tr>
        <!-- Fila vacía solo si hay una fila -->
        <tr class="fila-placeholder" >
          <td style="visibility: hidden;">Nombre------------------------</td>
          <td style="visibility: hidden;">Descripción-------------------</td>
          <td style="visibility: hidden;">Latitud-----------------------</td>
          <td style="visibility: hidden;">Longitud----------------------</td>
          <td style="visibility: hidden;">------------------------------</td>
          <td style="visibility: hidden;">Usuario-----------------------</td>
          <td style="visibility: hidden;">Acciones----------------------</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!loading && !error && puntosFiltrados.length === 0" class="alert alert-info">
    No hay puntos de localización disponibles.
  </div>
</div>

<router-outlet></router-outlet>

<app-popup-exito
  [mostrar]="mostrarMensaje"
  [mensaje]="mensajeTexto"
  [tipo]="tipoMensaje">
</app-popup-exito>
